.top-background {
  background-color: #101010;
  height: 100%;
  width: 100%;
}

.top-background .col-6 {
  align-items: center;
  display: flex;
  height: 450px;
  justify-content: center;
}

.top-main-copy .euro-font {
  color: #fdd916;
  font-size: 18px;
  letter-spacing: 1.17px;
  margin-bottom: 30px;
}

.top-background .row .col-6 button {
  margin-top: 30px;
}

.mapa {
  height: 90vh;
  width: 100vw;
 }

/*MEDIA QUERIES*/

@media screen and (max-width: 780px) {

  .top-background .col-6 {
    height: 200px;
  }

  .mapa {
    height: 50vh;
  }

  .planta {
    margin-top: 50px;
  }
}