.footer {
	background-color: #1f1f1f;
	height: 100%;
	position: relative;
}

.footer .col-6 img{
	height: 16px;
	width: 159px;
	margin-left: 30%;
}

.footer .col-2 a{
	display: block;
	color: #fff;
}


.footer .col-4 img {
	height: 20px;
	width: 20px;
	margin: 15px 0 15px 0;
}

.footer .col-4 button {
	background-color: none;
	border: none;
	padding: 0px  0px;
	font-size: 12px;
	display: block;
	text-decoration-line: underline
}

.footer .col-4 button:hover {
	background-color: #1f1f1f ;
	color: #fff;
	border: none;
	padding: 0px  0px;
}

.footer .col-2,
.footer .col-4,
.footer .col-6 {
	padding: 50px 0 50px 0;
	line-height: 30px;
}

.footer-responsive {
	padding: 17px 0 17px 50px;
	background-color: #2b2b2b;
}

.footer-responsive p, 
.footer-responsive a {
	font-size: 6px;
	line-height: 14px;
}

.footer-responsive img {
	height: 7px;
	width: 60px;
	margin-bottom: 7px
}

.footer-responsive div p, a {
	display: inline-block;
}

