@import 'alom.css';


@font-face {
	font-family: "EurostileLTStd-BoldEx2";
    src: url("../fonts/EUROSTILE/EurostileLTStd-BoldEx2.otf");
}

@font-face {
	font-family: "Akkurat-mono";
    src: url("../fonts/AKKURAT/Akkurat-Mono.otf");
}

* {
  font-family: "Akkurat-mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  color: #fff;
}


.euro-font, .eurofont p, span{
	font-family: "EurostileLTStd-BoldEx2";
	font-size: 20px;
}

.slider-text .main-copy p{
	font-size: 32px;
}

span {
	color: #fdd916;
	font: inherit;
}

.circle {
	height: 10px;
	width: 10px;
	background-color: #fff;
	display: inline-block;
	border-radius: 30px;
	margin: 30px 10px 0 10px;
	transition: background-color 0.4s ease;
}

button {
	background-color: none;
	border: 1px solid #fff;
	border-radius: 30px;
	padding: 9px  45px;
	font-size: 10px;
	display: inline-block;
}

button:hover {
	background-color: #fdd916;
	color: #000;
	border: 1px solid #fdd916;
	transition: .2s;
}

.underline {
	text-decoration-line: underline;
}

.medida-buttons button {
  border-color: #fdd916;
  color: #fdd916;
}

.linea-buttons button {
  border-color: #fdd916;
  color: #fdd916;
}

button.selected {
	background-color: #fdd916;
	color: #000;
	border: 1px solid #fdd916;
}

.hidden {
	display: none;
}

#hidden {
	display: none;
}

.visible {
	display: block;
}

.slideshow-container {
	background-color: #000;
}

.fadeInUp {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.reverse-btn:hover {
	background-color: #fdd916;
	color: #000;
	border: 1px solid #fdd916;
}



