.top-body {
  height: 100%;
}

nav {
  background-color: #fdd916;
  height: 56px;
  opacity: .8;
  padding: 0 10% 0 10%; 
  position: absolute;
  width: 100%;
  z-index: 10;
}

nav .normal-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 100px 0 100px;
  text-align: right;
  width: 100%;
}

nav .normal-menu li {
  display: inline-block;
  line-height: 56px;
}


nav .normal-menu #li-img {
  background-image: url(../images/logo-blk.png);
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 12px;
  width: 150px;
}

nav .normal-menu #li-img:hover {
  background-image: url(../images/logo-wht.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: .5s;
}

nav .normal-menu li a {
  background-image: none;
  color: #000;
  font-weight: bold;
  padding: 0 15px 0 15px;
  width: 100%;
}

nav .normal-menu li a:hover {
  background-color: #ffe86b;
  text-decoration-line: underline;
  transition: .5s;
}

.fixed-header {
  position: fixed;
  top:0; left:0;
  width: 100%; 
  z-index: 20;
}

.modal-content {
  background-color: #fdd916;
  border-radius: 0;
  border: none;
  height: 100vh;
  opacity: .9;
  width: 100vw;
}

.modal-dialog {
  margin: 0px;
}

.modal-header {
  padding: 25px;
  border: 0px;
}

.modal-header img {
  height: 12px;
  width: 150px;
}

.modal-header span {
  color: #000;
}

.close {
  opacity: 1;
  margin-right: 30px;
  text-shadow: none;
}

.modal-body {
  height: 100vh;
}

.modal-bosy ul {
  height: 100vh;
}

.modal-body ul li{
  color: #000;
  margin-bottom: 100%;
}

.modal-body a {
  text-decoration: underline;
}

.hamburger-btn {
  border: none;
}

a:focus, a:hover {
  color: #000;
  text-decoration: underline;
}

.normal-menu button:hover,
.normal-menu button.selected {
  background-color: #232323;
  border: none;
} 

@media (max-width: 992px) {
    .modal-lg {
        width: 100vw;
    }

    nav .normal-menu {
      padding: 10px 20px 0 20px;
    }

    nav {
      background-color: #232323;
      opacity: 1;
    }    
}

@media (max-width: 768px) {
    .modal-lg {
        width: 100vw;
        margin: 0px;
    }

    nav .normal-menu {
      padding: 10px 20px 0 20px;
    } 

    nav {
      background-color: #232323;
      opacity: 1;
    } 

    nav .normal-menu #li-img {
      background-image: url(../images/logo.png);
    } 
}

@media screen and (max-width: 768px)  { 

    #head-list {
        display: none;
        background-color: red;
    }
}

