.home-body {
  background-color: #101010;
  position: relative;
}

.home-body .col-6{
  height: 324px;
}

.home-body .row p {
  font-size: 14px;
}

.home-body .row .euro-font {
  font-size: 20px;
  text-decoration-line: underline;
}

.home-body .row .col-6 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-body {
  position: relative;
}

.top-background {
  background-image: url(../images/12.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.top-text {
  background-color: rgba(0, 0, 0, .4);
  height: 450px;
  padding: 0 30%;
}

.top-main-copy .euro-font {
  letter-spacing: 1.17px;
  margin-bottom: 30px;
}

.row #exp {
  background-image: url(../images/1.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: ease 0.5s;
  width: 100%;
}

.parent:hover #exp,
.parent:focus #exp,
.parent:hover .tec,
.parent:focus .tec,
.parent:hover .res,
.parent:focus .res,
.parent:hover .per,
.parent:focus .per,
.parent:hover .efi,
.parent:focus .efi,
.parent:hover .gar,
.parent:focus .gar,
.parent:hover .gps,
.parent:focus .gps {
  transform: scale(1.2);
}

.col-6 {
  overflow: hidden;
}

.row .tec {
  background-image: url(../images/3.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: all 0.3s;
  width: 100%;
}

.row .res {
  background-image: url(../images/4.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: all 0.3s;
  width: 100%;
}

.row .per {
  background-image: url(../images/5.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: all 0.3s;
  width: 100%;
}

.row .efi {
  background-image: url(../images/6.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: all 0.3s;
  width: 100%;
}

.row .gar {
  background-image: url(../images/7.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: all 0.3s;
  width: 100%;
}

.row .gps {
  background-image: url(../images/23.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: all 0.3s;
  width: 100%;
}

.home-body .row p {
  margin: 0;
  padding: 0 70px 0 70px;
}

.index-btn {
  margin-top: 30px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 780px) {


    .top-text {
      padding: 0 10%;
    }

    .top-text .top-main-copy p:nth-child(2) {
      font-size: 10px;
    }

    .home-body .col-6.align-flex.center.wow.fadeInUp {
    height: 94px;
    font-size: 10px;
  }

  .home-body .col-6.parent {
    height: 200px;
  }

  .home-body .col-6.parent p {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {

  .top-text .euro-font {
      font-size: 12px;
    }

    .home-body .row p {
      padding: 0 40px;
    }
}


