.top-background {
	background-image: url(../images/18.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.top-text {
	height: 450px;
	background-color: rgba(0, 0, 0, .4);
}

.top-main-copy .euro-font {
	letter-spacing: 1.17px;
	margin-bottom: 30px;
  padding: 0 15%;
}

/*DETAILS*/


.body-btn {
	margin: 15px 13px 0 13px; 
	background-color: #000;
	color: #fdd916;
	border: 1px solid #000;
}

.med-options {
	background-color: #101010;
}


.med-capacidades div {
	height: 200px;
	float: left;
	display: flex;
	align-items: center;
}

.med-capacidades p {
	font-size: 15px;
	width: 100%;
}

.lin-capacidades div {
	height: 200px;
	float: left;
	display: flex;
	align-items: center;
}

.lin-capacidades p {
	font-size: 15px;
	width: 100%;
}

.lin-capacidades button {
	width: 180px;
}

.capac-info {
	height: 100%;
}

.capac-info .col-3 {
	padding: 10px 50px 0px 0px;
	margin-bottom: 50px;
}

.capac-info .col-3 p {
	font-size: 12px;
	margin-bottom: 15px;
}

/*NEW DETAILS*/

/*DESCRIPCION DE LA SECCION DE LINEA*/

.linea-container {
  height: 100%;
  width: 100vw;
  background-color: #101010;
}


.linea-container .guide {
  padding-top: 40px;
  padding-bottom: 40px;
}

.linea-container .euro-font {
  font-size: 22px;
}

.linea-buttons {
  height: 120px;
  margin: 0 auto;
}

.linea-description .euro-font, 
.linea-description .eurofont p, 
.linea-description  span{
  font-size: 10px;
}

.linea-description .col-4 {
  padding: 0 3% 0 3%;
}

.linea-description .col-4 p {
  padding-top: 10px;
}

.linea-description .row {
  height: 150px;
  padding-left: 10%;
  padding-right: 10%;
}

.linea-description .description-words {
  height: 130px;
}

/*DESCRIPCION DE LA SECCIOND DE MEDIDA*/

.medida-container {
  background-color: #101010;
  height: 100%;
  width: 100vw;
}

.medida-buttons {
  height: 120px;
  margin: 0 15% 0 15%;
}


#metodoBtn {
  padding-left: 70px;
  padding-right: 70px;
}

.medida-container div .euro-font {
  font-size: 12px;
  padding-top: 50px;
}

.linea-description .flex-title {
  padding: 40px 0 40px 0;
  font-size: 20px;
}

.linea-description .super-title {
  padding-bottom: 5px;
}

.linea-description .producto-text {
  margin-bottom: 40px;
}


.medida-container .conoce-text {
  font-size: 10px;
}

.metodo-descripcion {
  padding: 0 10% 0 10%;
}

.metodo-descripcion .col-4{
  padding: 0 10px 50px 10px;
}

.metodo-descripcion {
  display: none;
}

.linea-description {
  display: none;
}

.casos-seccion {
  display: none;
}

.casos-seccion {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/nueva2.jpg);
  background-size: cover;
  background-position: center;
}

.casos-seccion .euro-font {
  font-size: 18px;
}

.seccion-text {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*///SLIDER///*/

.fadeInUp {
	animation-duration: 1s;
	animation-fill-mode: both;
}


#slides,
#slides2,
#slides3{
  display: none;
  background-color: #101010;
}

#slides a:nth-child(4),
#slides a:nth-child(5),
#slides2 a:nth-child(4),
#slides2 a:nth-child(5),
#slides3 a:nth-child(4),
#slides3 a:nth-child(5) {
  display: none;
}

.slidesjs-navigation {
  margin-top:3px;
}

.slidesjs-previous {
  margin-left: 10%;
  float: left;
  text-align: center;
}

.slidesjs-next {
  margin-right: 10%;
  float: right;
  text-align: center;
}

.slidesjs-pagination {
  margin: -100px 0 0 0;
  width: 100vw;
  list-style: none;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 7px;
}

.slidesjs-pagination li a {
  background-position: 0 0;
  border-radius: 30px;
  border: none;      
  display: block;
  height: 13px;
  overflow: hidden;
  padding-top: 13px;
  width: 13px;
  background-color: #fff;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
  background-color: #ffd916; 
}

.navbar {
  overflow: hidden
}

.slidesjs-navigation {
  position: relative;
  margin-top: -30%;
  z-index: 21;
}

.slidesjs-navigation a {
  margin-right: 30px;
}


.movers {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 65%;
  width: 100vw;
  z-index: 10;
}

.desc-responsive {
  height: 100%;
  padding: 5% 0;
}

.desc-responsive .col-4 {
  margin: 20px 0;
  padding: 0 25%;
}

.desc-responsive .euro-font,
.desc-responsive .col-4 p {
  font-size: 10px;
}

.slidejs-container,
.slidejs-control {
  height: 100vh;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 780px) {


    .top-text {
      padding: 0 10%;
    }

    .top-text .top-main-copy p:nth-child(2) {
      font-size: 10px;
    }

    .body-btn {
      background-color: inherit;
      color: #fdd916;
      border: 1px solid #fdd916;
    }

    .reverse-btn {
      margin: 18px 0px
    }

    .linea-container .linea-buttons{
      height: 100%;
      width: 100vw;
      margin: 0 auto;
      background-color: #222;
      padding-bottom: 10%;
    }

    .linea-container .guide {
      background-color: #222;
      font-size: 10px;
    }

    .slidesjs-navigation {
      display: none;
    }

    .medida-container .conoce-text {
      padding: 40px 0;
    }
    
    .medida-container {
      height: 100%;
      width: 100vw;
      margin: 0 auto;
      background-color: #222;
    }

    .medida-buttons {
      height: 100%;
      display: block;
      padding-bottom: 30px;
    }

    .metodo-descripcion {
      padding: 10%;
      text-align: center;
      background: url(../images/nueva1-1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .metodo-descripcion .col-4 {
      padding: 25px 10px;
    }

    .medida-container div .euro-font {
      padding-top: 0;
      font-size: 10px;
    }


    .medida-container div p {
      font-weight: 10px;
    }

    .slidesjs-pagination {
    margin-top: -20px;
  }

}

@media screen and (max-width: 480px) {
  
  .top-text .euro-font {
      font-size: 12px;
    }
  
  .slidesjs-pagination {
    margin-top: -20px;
  }

  .slidesjs-pagination li a {
    height: 5px;
    width: 5px;
    padding-top: 0;
  }

  .slidesjs-pagination li {
    margin: 0 3px;
  }
}




