html, body { background: #101010; }

.slides {
    padding: 0;
    width: 100vw;
    height: 700px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block;}

#slide-1-img {
    background-image: url(../images/10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#slide-2-img {
    background-image: url(../images/10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#slide-3-img {
    background-image: url(../images/10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide {
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;

    transform: scale(1);

    transition: all .7s ease-in-out;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    color: #fff;
    font-size: 50pt;
    text-align: center;
    line-height: 700px;
    font-family: "EurostileLTStd-BoldEx2", sans-serif;
}


.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
    width: 100%;
    bottom: 30px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: #fff;
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: #fdd916;
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3 {
    background: #fdd916;
}