section {
  height: 100%;
  width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}


/*//HEADER//*/

.slider-header {
  width: 100vw;
  padding: 7% 10% 0 10%;
}

.slider-header{
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.slider-header p{
  width: 200px;
  text-align: center;
}

.slider-header img {
  height: 16px;
  width: 159px;
}

/*//TEXT//
*/


.small-text {
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
  width: 40%;
}


.aprende-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 61%;
  width: 100%;
  z-index: 11;
}


/*CAROUSEL CONTENT*/

.carousel-item {
  background-color: #000;
  height: 100vh;
  width: 100vw;
}

.carousel-item img {
  align-items: center;
  display: flex;
}

.carousel-caption {
  height: 60vh;
  margin: auto;
  text-align: center;
}

.big-text {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#big-text-2 {
  align-items: center;
  display: flex;
  width: 60%;
}

#big-text-3 {
  align-items: center;
  display: flex;
  width: 70%;
}

#big-text-4 {
  align-items: center;
  display: flex;
  width: 60%;
}

#big-text-5 {
  align-items: center;
  display: flex;
  width: 70%;
}

.aprende-btn {
  align-items: center;
  display: flex;
  top: 61%;
}

.slider-header {
  position: absolute;
  z-index: 10;
}

/*ANIMATION*/

.slideInRight {
animation-duration: 1s;
}

.fadeIn {
animation-duration: 1s;
}

.fadeInUp {
animation-duration: 1s;
}

.slider-header{
animation-delay: 300ms;
}

.carousel-caption .big-text {
animation-delay: 500ms;
}


.aprende-btn {
animation-delay: 700ms;
}

.carousel-indicators {
animation-delay: 900ms;
bottom: 30%;
}


/*CAROUSEL EDITS*/

.container {
  width: 100vw;
  padding: 0;
  margin-top: -20px;
}

.carousel-indicators .active{
  background-color: #fdd916;
  border: none;
  margin: 0 10px 0 10px;
}

.carousel-indicators li {
  background-color: #ffffff;
  border: none;
  margin: 0 10px 0 10px;
}

.carousel-inner .item {
  background-color: black;
}

.carousel-inner .item img{
  opacity: .5;
}

.aprende-btn {
  top: 61%;
}

.slider-header {
  position: absolute;
  z-index: 10;
}

.carousel-caption {
  height: 100%
}

.carousel-caption .euro-font {
  font-size: 250%;
}

#big-text-1 {
  align-items: center;
  display: flex;
  width: 100%;
}

.carousel-inner .item {
  height: 93vh;
}


/*MEDIA */



@media screen  
and (max-width: 1024px){

  .big-text {
    width: 70%;
  }

  .copy-btn {
    margin-top: 10px;
  }

}


@media screen and (max-width: 1042px) {


  .big-text {
    width: 60%;
  }


@media screen and (max-width: 780px) {

  .carousel-caption .euro-font {
    font-size: 30px;
  }

  nav {
    z-index: 30;
  }
  
}

@media screen and (max-width: 480px) {

  .carousel-indicators {
    bottom: 35%;
  }

  .carousel-caption .euro-font {
    font-size: 14px;
  }

  .carousel-indicators li {
    height: 4px; 
    width: 4px;
    margin: 0 2px;
  }

  .carousel-indicators .active {
    height: 4px;
    width: 4px;
    margin: 0 2px;
  }
}

