
/*omfg*/

section {
	height: 100%;
	width: 100%;
}


/*//HEADER//*/

.slider-header {
	width: 100vw;
	padding: 7% 10% 0 10%;
}

.slider-header{
	display: flex;
	justify-content: space-between;
	position: absolute;
}

.slider-header p{
	width: 200px;
	text-align: center;
}

.slider-header img {
	height: 16px;
	width: 159px;
}

/*//TEXT//
*/


.small-text {
	width: 40%;
	height: 100%;
	margin: 0 auto;
	padding-top: 30px;
	position: relative;
}


.aprende-btn {
	width: 100%;
	position: absolute;
	z-index: 11;
	top: 61%;
	display: flex;
	justify-content: center;
}


/*CAROUSEL CONTENT*/

.carousel-item {
	height: 100vh;
	width: 100vw;
	background-color: #000;
}

.carousel-item img {
	display: flex;
	align-items: center;
}

.carousel-caption {
	height: 60vh;
	margin: auto;
	text-align: center;
}

.big-text {
	margin: 0 auto;
	position: relative;
	height: 100%;
}

#big-text-1 {
	width: 60%;
	display: flex;
	align-items: center;
}

#big-text-2 {
	width: 60%;
	display: flex;
	align-items: center;
}

#big-text-3 {
	width: 70%;
	display: flex;
	align-items: center;
}

#big-text-4 {
	width: 60%;
	display: flex;
	align-items: center;
}

#big-text-5 {
	width: 70%;
	display: flex;
	align-items: center;
}

.aprende-btn {
	top: 61%;
	display: flex;
	align-items: center;
}

.slider-header {
	position: absolute;
	z-index: 10;
}

/*ANIMATION*/

.slideInRight {
  animation-duration: 1s;
}

.fadeIn {
  animation-duration: 1s;
}

.fadeInUp {
  animation-duration: 1s;
}

.slider-header{
	animation-delay: 300ms;
}

.carousel-caption .big-text {
  animation-delay: 500ms;
}


.aprende-btn {
	animation-delay: 700ms;
}

.carousel-indicators {
	animation-delay: 900ms;
}


/*CAROUSEL EDITS*/

.container {
	width: 100vw;
	padding: 0;
	margin-top: -20px;
}

.carousel-indicators .active{
	background-color: #fdd916;
	border: none;
	margin: 0 10px 0 10px;
}

.carousel-indicators li {
	background-color: #ffffff;
	border: none;
	margin: 0 10px 0 10px;
}

.carousel-inner .item {
	background-color: black;
}

.carousel-inner .item img{
	opacity: .5;
}

.aprende-btn {
	top: 61%;
}

.slider-header {
	position: absolute;
	z-index: 10;
}

.carousel-caption {
	height: 100%
}

.carousel-caption .euro-font {
	font-size: 3rem;
}

#big-text-1 {
	width: 100%;
	display: flex;
	align-items: center;
}


/*MEDIA */


@media screen and (max-width: 780px) {


    .carousel-caption .euro-font{
    	font-size: 5px;
    	color: red;
    }

    .slider-header p {
    	display: none;
    }

    .slider-header img {
    	margin: 0 auto;
    	height: 10px;
    	width: 106px;
    }
}

@media screen  
and (max-width: 1024px){



    .big-text {
    	width: 70%;
    }

    .copy-btn {
    	margin-top: 10px;
    }

    .carousel-caption .euro-font{
    	font-size: 30px;
    	color: orange;
    }

}


@media screen and (max-width: 1042px) {


    .big-text {
    	width: 60%;
    }

    .carousel-caption .euro-font{
    	font-size: 25px;
    	color: green;
    }
}


@media screen and (min-width: 768px) {

	.carousel-indicators {
		bottom: 25%;
	}

}


